/* #cards-el img {
    position: absolute;
    width: 50px;
    height: 70px;
  } */
  #cards-el {
    display: flex;
    position: absolute;
    justify-content: center;
  align-items: center;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%); /* Ajusta el contenedor al centro */

}


#sum-el {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente si el contenedor tiene altura */
  position: absolute;
  top: 64%;
  left: 50%;
 
}


  
  @keyframes dropFromTopRight {
    0% {
      top: -350px;
      left: -400%; /* Inicia desde el lado derecho */
      opacity: 0;
      transform: rotate(-360deg);
    }
    50% {
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      left: 0;
    }
  }
  
  .dropFromTopRight {
    animation: dropFromTopRight 3s forwards;
  }
  

  #cards-dele {
    position: relative; /* Asegúrate de que el contenedor tenga un contexto de posicionamiento */
    width: 100%; /* Ajusta según sea necesario */
    height: 100px; /* Ajusta según sea necesario */
    overflow: visible; /* Asegúrate de que se muestren las cartas */
    display: flex;                /* Activar Flexbox */
    justify-content: center;      /* Centrar verticalmente */
    align-items: center;   
}


